<div class="flex-row">
  <h3 class="mb-5 mt-5">Add New Invoice</h3>
  <%= render 'form', invoice: @invoice %>
  <p class="pb-1">
    <%= link_to 'Back', invoices_path ,class: "btn btn-md btn-success"%>
  </p>
</div>
