<div class="flex-row">
  <h3 class="mb-5 mt-5">Add User</h3>
  <%= render 'form', user: @user %>
  <p class="pb-1">
    <%= link_to 'Back', users_path ,class: "btn btn-md btn-success"%>
  </p>
</div>
