<div class="flex-row">
  <h3 class="mb-5 mt-5">Editing Invoice Item</h3>

  <%= render 'form', invoice_item: @invoice_item  %>

  <p class="pt-5">
    <%= link_to 'Show', @invoice_item, class: "btn btn-primary btn-md" %>
    <%= link_to 'Back', invoice_items_path, class: "btn btn-success btn-md" %>
  </p>
</div>