<div class="flex-row">
  <h3 class="mb-5 mt-5">Add New Invoice Item</h3>
  <%= render 'form', invoice_item: @invoice_item  %>
  <p class="pb-1">
    <%= link_to 'Back', invoice_items_path ,class: "btn btn-md btn-success"%>
  </p>
</div>
