<div class="flex-row">
  <h3 class="mb-5 mt-5">Editing Item</h3>
  <%= render 'form', item: @item %>
  <p class="pt-5">
    <%= link_to 'Show', @item, class: "btn btn-primary btn-md" %>
    <%= link_to 'Back', items_path, class: "btn btn-success btn-md" %>
  </p>
</div>